apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-ephemeral
  namespace: create-and-mount-pvc-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql-ephemeral
  template:
    metadata:
      labels:
        app: mysql-ephemeral
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: rootpassword
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"